<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Complexivo</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" >The GAME</a>
        <a class="navbar-brand ms-auto" href="/logout" >Cerrar sesion</a>
    </div>
</nav>

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4 text-primary"> Videojuegos</h1>
    </div>
    <div class="mb-3"  th:if="${role != 'ROlE_USER' }">
        <a class="btn btn-success shadow-sm" th:href="@{/add-game}">Agregar Videojuego</a>
    </div>
    <table class="table table-striped table-hover shadow">
        <thead class="table-dark sticky-top">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Stock</th>
            <th>Descripción</th>
            <th class="text-center" th:if="${role != 'ROlE_USER'}">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Games : ${Games}">
            <td th:text="${Games.id}" class="text-center"></td>
            <td th:text="${Games.GameName}" class="fw-bold"></td>
            <td th:text="${Games.price}" class="text-success fw-semibold"></td>
            <td th:text="${Games.gameCategory.name}" class="text-primary"></td>
            <td th:text="${Games.stock}" class="text-center"></td>
            <td th:text="${Games.description}"></td>
            <td class="text-center" th:if="${role != 'ROlE_USER'}">
                <div class="d-inline-flex gap-2">
                    <a th:href="@{/Games/edit/{id}(id=${Games.id})}" class="btn btn-warning btn-sm shadow-sm">Editar</a>
                    <form th:action="@{/Games/delete/{id}(id=${Games.id})}" method="post"
                          onsubmit="return confirm('¿Seguro que quieres eliminar el juego?')">
                        <button class="btn btn-danger btn-sm shadow-sm">Eliminar</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>